/* ===================================
Global and body styles
=====================================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
		url(/assets/apple-laptop.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;

	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

/* ===========================
Timeer Styles
============================= */
#timer {
	text-align: center;
	font-size: 2rem;
	color: #2bb3ff;
}

/* ==================================
Beginning of the Container Styles
=================================== */
.container {
	padding: 0.9375em;
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	top: 25%;
	left: 0;

	.site-description-header {
		list-style: none;
		display: inline;
		padding: 0.3125em;
		font-size: 0.75em;
		font-weight: normal;
	}

	h1 {
		font-size: 3.125em;
		padding-bottom: 0.625em;
		color: #2bb3ff;
	}

	p {
		font-size: 1.875em;
	}
}

.social-media {
	font-size: 2em;
	cursor: pointer;

	.fab {
		color: #fff;
		border: none;
		text-decoration: none;
		padding: 0.625em;
	}

	.fab:hover {
		color: #2bb3ff;
		transition: ease-in 0.2s;
	}
}

/* ===================================
    Media Queries
 ==================================== */

@media screen and (orientation: landscape) {
	.container {
		padding: 0;
		top: 18%;
	}
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0.9375em;
		margin: auto;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		top: 40%;
		left: 0;
	}
}
